<ion-header>

    <ion-title>
      Top 10
    </ion-title>


  <ion-toolbar no-border-top>
    <ion-icon name="arrow-round-back" slot=start (click)="goBack()"></ion-icon>
    <ion-segment [(ngModel)]="chooser">
      <ion-segment-button value="listView">
        List View
      </ion-segment-button>
      <ion-segment-button value="cardView">
        Card View
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-content>
          <div [ngSwitch]="chooser">
              <ion-list *ngSwitchCase="'listView'">
                <ion-list *ngFor="let anime of top10; let i = index" [attr.data-index]="i">
                  <ion-item>
                      <ion-label>{{i+1}}.</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label>{{anime.anime.title}}</ion-label>
                      <ion-select placeholder="" (ionChange)="options($event, anime, i)">
                        <ion-select-option value="remove">Remove</ion-select-option>
                      </ion-select>
                    </ion-item>
              </ion-list>
            </ion-list>
          </div>

          <div [ngSwitch]="chooser">
              <ion-list *ngSwitchCase="'cardView'">
                  <ion-card *ngFor="let anime of top10">
          <img src= {{anime.anime.image_url}}/>
          <ion-card-content>
            <ion-card-title>
                {{anime.anime.title}}
              </ion-card-title>
            <p>
                {{anime.anime.synopsis}}
            </p>
            <p>
                Episodes: {{anime.anime.episodes}}
             </p>
            <p>
               Score: {{anime.anime.score}}
            </p>
            <p>
                Type: {{anime.anime.type}}
            </p>
            
          </ion-card-content>
        </ion-card>
              </ion-list>
          </div>

    </ion-content>

</ion-content>
