<ion-content padding center text-center>
  <ion-title>Anime2U Login</ion-title>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button fill="solid" expand="block" color="light" (click)="login()">Login</ion-button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <img src="../../assets/Sharingan_Kiyoshi.png" alt="logo" height='75' width='75' (click)="goHome()">
  
</ion-content>
